<div class="form-container">
  <h1>Detalles del usuario</h1>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <%= render @usuario %>

  <div>
    <%= link_to "Edit this usuario", edit_usuario_path(@usuario), class: "btn btn-edit" %> |
    <%= link_to "Back to usuarios", usuarios_path, class: "btn btn-back" %>
    <%= button_to "Destroy this usuario", @usuario, method: :delete, class: "btn btn-delete" %>
  </div>
</div>
